//
//  EvioTool.xcconfig
//  EvioTool
//
//  Created by Maurik Holtrop on 5/5/14.
//  Copyright (c) 2014 UNH. All rights reserved.
//
#include "../master.xcconfig"

PRODUCT_NAME = ${TARGET_NAME}
EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION=dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

CLANG_CXX_LANGUAGE_STANDARD = c++11

GCC_UNROLL_LOOPS = Yes

// === Add EVIO and ET =======
EVIO= ${PROJECT_DIR}/evio-5.1
EVIO_LIB=${INSTALL_DIR}/libevio-5.1.dylib
//EVIO_LIB=${EVIO}/build/Release/libevio-4.4.5.a

CODA_ET=${PROJECT_DIR}/et-16.1

//CODA_ET_LIB = ${CODA_ET}/Darwin-x86_64/lib/libet.a
//CODA_ET_LIB[config=Release]=${CODA_ET}/build/Release/libet-14.0.a
//CODA_ET_LIB[config=Debug]=  ${CODA_ET}/build/Debug/libet-14.0.dylib
OTHER_LDFLAGS= $(inherited) ${EVIO_LIB} -lexpat -lz
HEADER_SEARCH_PATHS= $(inherited) ${PROJECT_DIR}/EvioTool $EVIO/src/libsrc $EVIO/src/libsrc++ ${CODA_ET}/src/libsrc
//
