//
//  Project.xcconfig
//  EvioTool
//
//  Created by Maurik Holtrop on 5/5/14.
//  Copyright (c) 2014 UNH. All rights reserved.
//
GCC_WARN_ABOUT_RETURN_TYPE = YES;
GCC_WARN_UNUSED_VARIABLE = YES;
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES;
GCC_GENERATE_DEBUGGING_SYMBOLS = YES;

ROOTSYS=/Users/maurik/root/root.git
EVIO= ${PROJECT_DIR}/evio-4.4.5
//EVIO_LIB=${EVIO}/Darwin-x86_64/lib/libevio.a ${EVIO}/Darwin-x86_64/lib/libevioxx.a
EVIO_LIB=${EVIO}/build/Release/libevio-4.4.5.a

CODA_ET=${PROJECT_DIR}/et-14.0

//CODA_ET_LIB = ${CODA_ET}/Darwin-x86_64/lib/libet.a
CODA_ET_LIB=${CODA_ET}/build/Release/libet-14.0.a

GCC_WARN_64_TO_32_BIT_CONVERSION = NO

CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x

OTHER_CPLUSPLUSFLAGS= -pthread


LIBRARY_SEARCH_PATHS=${ROOTSYS}/lib
HEADER_SEARCH_PATHS=${ROOTSYS}/include $EVIO/src/libsrc $EVIO/src/libsrc++ ${CODA_ET}/common/include /Users/maurik/Documents/codes/EvioTool
