//
//  libevio.xcconfig
//  evio-4.3.1
//
//  Created by Maurik Holtrop on 4/20/14.
//  Copyright (c) 2014 Jlab. All rights reserved.
//
#include "../../master.xcconfig"

PRODUCT_NAME = evio-4.4.5
EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION = dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

//OTHER_LDFLAGS= $(inherited)  -lexpat -lz

